@import "tailwindcss";
@import "@fontsource-variable/noto-kufi-arabic";

/* Configure class-based dark mode for Tailwind CSS v4 */
@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light dark;
}

body {
  font-family: "Noto Kufi Arabic Variable", sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@theme {
  --color-primary: #003555;
  --color-secondary: #00B2B2;
}

.custom-scrollbar::-webkit-scrollbar {
        width: 6px;
      }
      .custom-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #00B5B5;
        border-radius: 10px;
      }
      .dark .custom-scrollbar::-webkit-scrollbar-track {
        background: #1e293b;
      }

      /* Custom scrollbar for elegant years dropdown in CalendarHijri and CalendarGrid */
      .elegant-scroll::-webkit-scrollbar {
        width: 4px;
      }
      .elegant-scroll::-webkit-scrollbar-track {
        background: transparent;
      }
      .elegant-scroll::-webkit-scrollbar-thumb {
        background: #00B5B5;
        border-radius: 10px;
      }
      .elegant-scroll::-webkit-scrollbar-thumb:hover {
        background: #003049;
      }

      /* Sidebar */
       .sidebar-transition {
        transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }
      .sidebar-scroll::-webkit-scrollbar {
        width: 4px;
      }
      .sidebar-scroll::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
      }

      /* Custom Stepper Clip Paths for RTL */
        .step-clip-left {
            clip-path: polygon(0% 0%, 100% 0%, calc(100% - 25px) 50%, 100% 100%, 0% 100%);
        }
        .step-clip-right {
            clip-path: polygon(25px 0%, 100% 0%, 100% 100%, 25px 100%, 0% 50%);
        }